version: 2
jobs:
  build:
    docker:
      - image: library/node:6-alpine
      - image: rabbitmq:3.6-management-alpine
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn test
      - run: docker build -t gperreymond/opencv:3.3.0 .
